<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Appointment Booking</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
      <h1>Book an Appointment</h1>
      <form id="appiontment" action="/appiontment" method="post">
        <label for="">username : </label>
        <br>
        <input type ="disable" name ="hname" value ={{ hospital.name }}>
        <input type ="hidden" name ="himage" value ={{ hospital.image }}>

        <br>

        <label for="">username : </label>
        <br>
        <input type="text" name="username" id="name" placeholder="Enter Your Name">
        <br><br>
        <label for="">Your Age :</label>
        <br>
        <input type="number" name="age" id="name" placeholder="How Old Are You?">
        <br><br>
        <label for="">phone_number :</label>
        <br>
        <input type="number" name="phone_number" id="phone_number" placeholder="Number">
        <br>
        <label for="">Email :</label>
        <input type="email" name="mail" id="name" placeholder="Enter Your valid Email">
        <br><br>
        <label for="">problem :</label>
        <input type="text" name="problem" id="problem" placeholder="What you are suffering from">
        <br><br>
       
       
        <label for="">Gender : </label>
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="radio" name="gender" id="male" value="male">
        &nbsp;
        <span id="male">Male</span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="radio" name="gender" id="female" value="female">
        &nbsp;
        <span id="male">Female</span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <br><br>
        
          
          <input type="submit" value="Book Appointment">
      </form>
  </div>

</body>
</html>
