<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Appiontment</title>
</head>
<body data-new-gr-c-s-check-loaded="9.70.0" data-gr-ext-installed="" style="overflow-x: hidden; max-height: fit-content; display: flex;align-items: flex-start;">
  <div class="main">
  <div class="register">
      <h2 style="margin: 0px;padding: 0px;">Register Here  <span><img src="/static/favicon.ico" height="50px"></span></h2>
      <form id="slot_booking" method="post" action="/slot_booking">
          <label for="">username : </label>
          <br>
          <input type="text" name="username" id="name" placeholder="Enter Your Name">
          <br><br>
        
          <label for="">phone_number :</label>
          <br>
          <input type="number" name="phone_number" id="phone_number" placeholder="Number">
          <br>
          <label for="">Email :</label>
          <input type="email" name="mail" id="name" placeholder="Enter Your valid Email">
          <br>
          <label for="">Date</label>
          <input type="date" name="date" id="date" placeholder="Enter Date">
            <br>
            <label for="">Time</label>
            <input type="time" name="time" id="time" placeholder="Enter Time">
            <br>  <br>
            <button class="button" type="submit">Submit</button>
        </form>
        <style>
            a{
                color: rgb(132, 92, 40);
            }
            a:hover{
                color: dimgray;
            }
        </style>
        </div>
        </div>
        </body>
        </html>
        
